body {
  margin: 0;
  min-height: 100vh;
}

.logo-non-sticky {
  max-width: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* nav bar */
.nav {
  width: 100%;
  background-color: black;
  display: table;
  table-layout: fixed;
  position: relative;
  overflow: hidden;
}

/* nav gradient */
.nav::before,
.nav::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  pointer-events: none;
}

.nav::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0)
  );
}

.nav::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}

/* nav bar links */
.nav a {
  display: table-cell;
  text-align: center;
  color: white;
  text-decoration: none;
  width: auto;
  margin: 0;
  padding: 12px 0;
  font-size: clamp(12px, 2.5vw, 16px);
  font-family: "Michroma";
}

.nav a:hover {
  background-color: #222;
}

/* sticky logo */
.logo-sticky {
  display: block;
  margin-left: auto;
  margin-right: 5vw;
  max-width: 4rem;
  position: sticky;
  top: 48px;
  z-index: 150;
  max-width: 30vw;
}

main img {
  max-width: 50vw;
  margin-top: 25px;
  display: block;
}

.home-img {
  position: relative;
  display: block;
  width: 50vw;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 0;
}

.home-img img {
  display: block;
  width: 100%;
  height: auto;
}

.home-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 211, 211, 0);
  transition: background 0.25s ease;
}

.home-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #111;
  font-weight: bold;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.25s ease;
  font-size: 2rem;
  font-family: "Michroma";
}

/* when you hover */
.home-img:hover::after {
  background: rgba(211, 211, 211, 0.606);
}

.home-img:hover .home-img-text {
  opacity: 1;
}

footer {
  background-color: black;
}

.home-quote,
.home-quote-name {
  margin-left: 2rem;
  max-width: 50vw;
}

.home-quote {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: clamp(1.8rem, 6vw, 4rem);
  font-style: italic;
}

.home-quote-name {
  font-family: "Michroma";
}

.about-quote {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: clamp(2rem, 2.2vw, 1.2rem);
  padding: 50px;
}

.about-quote-name {
  font-family: "Michroma";
  text-align: center;
  margin-bottom: 30px;
}

.about-h1 {
  font-family: "Michroma";
  margin-left: 20px;
}

.about-txt {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: clamp(2rem, 2.2vw, 1.2rem);
  margin: 30px;
}

.footer-txt {
  color: white;
  font-family: "Michroma";
  padding: 2rem;
}

footer a {
  text-decoration: none;
  text-align: right;
  display: block;
  color: white;
}

/* PROJECT PAGE LAYOUT */
.project-layout {
  width: 90%;
  margin: auto;
}

.project-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 24px;
}

.project-layout {
  width: 90%;
  margin: 0 auto;
}

.project-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 24px;
  margin-top: 50px;
}

.project-img,
.project-text {
  display: table-cell;
  vertical-align: top;
}

.project-img {
  width: 45%;
  padding-right: 16px;
}

.project-img img {
  width: 100%;
  height: auto;
  display: block;
}

.project-text {
  width: 55%;
}

.project-text h2 {
  font-family: "Michroma";
}

.project-text p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

.project-video {
  max-width: 40vw;
}

@media (max-width: 700px) {
  .project-img,
  .project-text {
    display: block;
    width: 100%;
    padding-right: 0;
  }
}

.ugh-text {
  margin-top: 10px;
}

.project-card {
  display: table;
  width: calc(100% - 40px);
  margin: 20px;
  padding: 16px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
}

.card-text,
.card-image {
  display: table-cell;
  vertical-align: middle;
}

.card-text {
  width: 60%;
  padding-right: 16px;
}

.card-image {
  width: 40%;
  text-align: right;
}

.card-image img {
  width: 100%;
  max-width: 260px;
  height: auto;
  display: inline-block;
}

.card-text h2 {
  font-family: "Michroma";
}

.card-text p {
  font-family: Arial, Helvetica, sans-serif;
}
